<html>

<body style="">
    <h1 style="text-align:center;padding: 10px 0px; margin: 0px;background: #eee;">Contract</h1>
    <h3 style="text-align: center;">{{title}}</h3>
    <p style="text-align:center">{{{description}}}</p>
</body>

</html>